In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
df_lista_recomendacion = pd.read_csv('./lista_articulos_recomendacion.csv')

In [3]:
df_lista_recomendacion

       articulo  recomendacion
0     bolígrafo     875.738483
1         bolsa     649.423002
2         termo     458.246419
3       mochila     415.439810
4       libreta     413.550569
..          ...            ...
98    popsocket       0.000000
99       careta       0.000000
100    cuaderno       0.000000
101       jenga       0.000000
102  termómetro       0.000000

[103 rows x 2 columns]

In [4]:
df_lista_recomendacion.to_excel('lista_articulos_recomendacion.xlsx',index=False)

In [ ]:
ironhackt/modulo 2/lab/Poryecto-Final-Marzo-23/codigo/lista_clientes_perdidos.csv

In [5]:
df_clientes_perdidos = pd.read_csv('./lista_clientes_perdidos.csv')

In [7]:
df_clientes_perdidos.estatus_19_21.value_counts()

normal      275
bronce       31
plata         7
diamante      2
Name: estatus_19_21, dtype: int64

In [15]:
lista_presentar = df_clientes_perdidos[(df_clientes_perdidos.estatus_19_21 == 'plata')|(df_clientes_perdidos.estatus_19_21 == 'bronce')]

In [20]:
lista_presentar = lista_presentar.sort_values('estatus_19_21',ascending=False)

In [21]:
lista_presentar

                     cliente estatus_19_21 estatus_22            vendedor
117        FERRERO DE MÉXICO         plata    perdido        YANET FLORES
16                    ALPURA         plata    perdido      JESSICA OSORIO
290                   UNIDEP         plata    perdido      ADRIAN GUEVARA
37               ATLAS COPCO         plata    perdido  CRISTIAN HERNANDEZ
162                  INFO DF         plata    perdido      ADRIAN GUEVARA
88                     CYVSA         plata    perdido      JESSICA OSORIO
119                   FIFOMI         plata    perdido      ADRIAN GUEVARA
5           AGENCIA MOSTACHO        bronce    perdido      NORMA MARTINEZ
198            MEDICAL GROUP        bronce    perdido       CARLOS ACOSTA
212        MÉXICO GRAN HOTEL        bronce    perdido      JESSICA OSORIO
214                  NAVITUR        bronce    perdido      NORMA MARTINEZ
224                PANALPINA        bronce    perdido      JESSICA OSORIO
228                 PAPALOTE        bronce    perdido      JESSICA OSORIO
243                 PROSUMEX        bronce    perdido      NORMA MARTINEZ
231                 PATRIARE        bronce    perdido       CARLOS ACOSTA
177         LA SALLE PACHUCA        bronce    perdido  CRISTIAN HERNANDEZ
253                 ROTOPLAS        bronce    perdido       CARLOS ACOSTA
277            Sergio Zamora        bronce    perdido  CRISTIAN HERNANDEZ
279                  TELEVIA        bronce    perdido       CARLOS ACOSTA
287                   TURNER        bronce    perdido      JESSICA OSORIO
294               UNIV. UTEL        bronce    perdido        YANET FLORES
179                  LAGRIET        bronce    perdido      NORMA MARTINEZ
165                 INTERCAM        bronce    perdido       CARLOS ACOSTA
172                 JR GRUPO        bronce    perdido      JESSICA OSORIO
168               IPS MEXICO        bronce    perdido        YANET FLORES
14              ALINA OLVERA        bronce    perdido      NORMA MARTINEZ
163                   INFODF        bronce    perdido      ADRIAN GUEVARA
147        HOTEL AZUL IXTAPA        bronce    perdido        YANET FLORES
145                HITCHINER        bronce    perdido      JESSICA OSORIO
111                      ETN        bronce    perdido        YANET FLORES
94              DERMOGALENIC        bronce    perdido      NORMA MARTINEZ
84         CREACIONES LIBRES        bronce    perdido      NORMA MARTINEZ
77    COMERCIALIZADORA AMPAR        bronce    perdido      NORMA MARTINEZ
60                     CASIO        bronce    perdido      JESSICA OSORIO
58        CASA DE LA AMISTAD        bronce    perdido      ADRIAN GUEVARA
20            AMERICAN TOWER        bronce    perdido       CARLOS ACOSTA
17   ALPURA UNION FINANCIERA        bronce    perdido      JESSICA OSORIO
299                    VIMAR        bronce    perdido      JESSICA OSORIO

In [22]:
lista_presentar.to_excel('lista_clientes_perdidos.xlsx',index=False)

In [24]:
df_clientes_recuperar = pd.read_csv('./lista_clientes_por_recuperar_vendedor.csv')

In [29]:
df_clientes_recuperar = df_clientes_recuperar.sort_values('estatus 19-21',ascending=False)

In [30]:
df_clientes_recuperar

                   cliente estatus 19-21 estatus 22            vendedor
10                    NUKS         plata     normal      JESSICA OSORIO
13                     SGM         plata     bronce      ADRIAN GUEVARA
5                      DSV         plata     bronce      JESSICA OSORIO
6                     G500         plata     normal      NORMA MARTINEZ
1          ANDRE PRODUCTOS         plata     bronce        YANET FLORES
11            QUIMICA SONS         plata     bronce      JESSICA OSORIO
0              ALTECH CORP        bronce     normal  CRISTIAN HERNANDEZ
15                     UAM        bronce     normal      ADRIAN GUEVARA
14            SISOLUCIONES        bronce     normal      NORMA MARTINEZ
12                 RUSSELL        bronce     normal      JESSICA OSORIO
8           IMAGEN LATENTE        bronce     normal      NORMA MARTINEZ
9                   KFSPOT        bronce     normal      JESSICA OSORIO
7              HOSPITAL H+        bronce     normal        YANET FLORES
4             COLEGIO ATID        bronce     normal  CRISTIAN HERNANDEZ
3           CIUDAD MADERAS        bronce     normal      NORMA MARTINEZ
2           ARMANDO PIZAÑA        bronce     normal  CRISTIAN HERNANDEZ
16  XPRESSO EN CREATIVIDAD        bronce     normal      NORMA MARTINEZ

In [31]:
df_clientes_recuperar.to_excel('lista_clientes_recuperar.xlsx',index=False)

In [33]:
df_articulos_mes = pd.read_csv('./lista_articulos_recomendacion_por_mes.csv')

In [ ]:
ironhackt/modulo 2/lab/Poryecto-Final-Marzo-23/codigo/lista_articulos_recomendacion_por_mes.csv

In [43]:
df_articulos_mes_agosto=df_articulos_mes.sort_values('agosto',ascending=False)[['articulo','agosto']]

In [44]:
df_articulos_mes_agosto

          articulo    agosto
87           gorra  0.091572
22       alcancías  0.088601
86   identificador  0.084895
97    destapadores  0.072293
100        soporte  0.062052
..             ...       ...
48         peluche -0.212557
49          tapete -0.212557
50          espray -0.212557
52        pañalera -0.212557
51         post_it -0.212557

[103 rows x 2 columns]

In [45]:
df_articulos_mes_agosto.to_excel('df_articulos_mes_agosto.xlsx',index=False)

In [ ]:
df_articulos_mes_agosto=df_articulos_mes.sort_values('agosto',ascending=False)[['articulo','agosto']]

In [47]:
df_articulos_mes_noviembre=df_articulos_mes.sort_values('noviembre',ascending=False)[['articulo','noviembre']]

In [49]:
df_articulos_mes_noviembre

         articulo  noviembre
86  identificador   0.099545
26     cubrebocas   0.090677
27     power_bank   0.082570
15      popsocket   0.073094
23      mouse_pad   0.067096
..            ...        ...
95           vino  -0.155880
35          regla  -0.158604
72        frazada  -0.186563
79         agenda  -0.202153
78     calendario  -0.210695

[103 rows x 2 columns]

In [50]:
df_articulos_mes_noviembre.to_excel('df_articulos_mes_noviembre.xlsx',index=False)